.contenedorPrincipal{
    background-color: white;
    border: 1px solid grey ;
    border-radius: 5px;
    width: 50%;
    padding: 30px;
    margin: 20px 0px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.20);
 }

 .cerrar{
    display: flex;
    justify-content: end;
    font-size: 20px;
    cursor: pointer;
 }

.texto{
    display: flex;
    justify-content: center;
 }

 .boton{
    display: flex;
    justify-content: center;
 }